<div class="w3-panel w3-white w3-card w3-display-container">
  <h3>Dokumentationsystem mit iPadOS Shortcuts</h3>
<p>Dokumentationssystem für mobile Therapeut:innen mit Hilfe eines iPad-Tablets und der iPadOS-App Shortcuts.</p>
<b>Das Problem</b>
<p>
  Vanessa wollte als mobile Ergotherapeutin digital bei Kund:innen direkt dokumentieren. Dafür hat sie sich ein iPad
  angeschafft. Als Vorlage für verschiedene Berichte (Aufnahmebreicht, Testungen,
  Therapieplan, ...) hat sie sich mithilfe der iPadOS App von Pages Vorlagen erstellt. Nun mussten die Vorlagen aber
  immer in neue Kund:innenordner kopiert und umbenannt werden. Auch das hinzufügen
  von Überweisungsscheinen war nur umständlich mit kopieren aus der Fotogalerie möglich.
</p>
<b>Das Projekt</b>
<p>Mittels der mächtigen Shortcuts App habe ich mehrere Workflows abgebildet um Patien:innen
  </p>
<ul>
  <li>anzulegen, inklusive Erstellung der leeren Dokumentationen,</li>
  <li>zu öffnen,</li>
  <li>zum Hinzufügen von Überweisungen und anderen Dokumenten</li>
  <li>und zum Archivieren von Abgeschlossenen Therapieseerien.</li>
</ul>
<p>
Mittels Dialoge wird man durch die Prozesse durchgeführt und anschließend wird das jeweilige Dokument direkt geöffnet.
Das ganze spart viel Zeit und nerven.
</p>

<b>Technologien</b>
<p>Als Technologie reicht das iPad und die Shortcuts-App vollkommen aus.</p>
<b>Status</b>
<p>Über Buttons am Home Screen bedient Vanessa das System in jeder Therapieeinheit. Ab und zu kommen noch Erweiterungen
  dazu.</p>
<b>Source Code</b>
<p>Mir ist aktuell noch nicht bekannt, wie man solche Shortcuts einfach veröffentlichen kann. Ich werde dazu aber noch
  recherchieren.</p>


</div>
