<div class="w3-panel w3-white w3-card w3-display-container">
  <h3>stefanreip.dev</h3>

<p>Diese Webite <a target="_blank" href="https://stousn.dev">stousn.dev</a></p>

<b>Das Projekt</b>
<p>
  Als 2018 die TLD .dev released wurde, wollte ich unbedingt eine haben. Das Problem war ursprünglich der Inhalt. Ich
  habe im ersten Schritt meine eigentliche .at-Homepage kopiert. Während dem
  Schreiben meiner Masterarbeit, kam ich auf die Idee, Projekte hier darzustellen. Inzwischen nutze ich sie als Homepage
  für meine Freiberuflichkeit.
</p>

<b>Technologien</b>
<p>
  Zuerst war es eine 1:1 Kopie <a target="_blank" href="https://stousn.at">meiner Homepage</a> mit unterschiedlichem
  Content. Im Sommer 2019 habe ich die Hauptseite angepasst und dort
  README.md-Files von Github drgestellt. Es kam ein Framework zum parsen von Markdown zu HTML dazu, um die Inhalte schön
  darzustellen. Dann habe ich die Seite technisch komplett neu
  geschrieben und nutzte dafür ein JavaScript Framwork um sie als Single-Page-Applikation umzusetzen:
  <a target="_blank" href="https://github.com/rishavs/vanillajs-spa">a vanillajs-spa von rishavs</a> hat sich als
  praktisch erwiesen und ich habe es etwas angepasst. Auch die Logik zum Anzeigen von
  README.md Files ist wurde wieder integriert.<br>
  Da ich aber 2023 überlegt habe, ein Kontaktformular zu integrieren, habe ich mich dazu entschieden die Seite nochmal
  umzustellen. Diesmal auf Angular.
</p>
<b>Status</b>
<p>Wie man sieht ist die Seite live.</p>
<b>Source Code</b>
<p><a target="_blank" href="http://github.stousn.at/stousn_dev_homepage">Den Quellcode kann man auf GitHub ansehen.</a>
</p>

</div>
