<div class="w3-panel w3-white w3-card w3-display-container"
     [class.w3-theme-d4]="this.isDarkTheme">
  <h3>Persönlicher Linkbaum</h3>

  <p>
    Die gängigsten Social Media Profile haben nur die Möglichkeit einen Link zu hinterlegen. Willst du rechtlich sauber
    unterwegs sein, musst du diesen Link für das Impressum verwenden. Möchtest du doch lieber andere Social Media Kanäle
    oder ähnliches verlinken, dann benötigst du eine Webseite mit einem Link-Baum. Dafür gibt es zahlreiche Anbieter
    (teilweise sogar kostenlos). Das Problem ist meist, dass diese Seiten aber Mittracken und die Seiten zumeist in den
    USA gehostet werden, was wiederum einen DSGVO-Verstoß darstellt. Gerade für Influencer und Kleinunternehmer kann das
    zum
    Problem werden.
  </p>
  <p>
    Die Lösung ist dein eigener Link-Baum. Farblich nach deinen Vorstellungen gestaltet, rechtlich absolut DSGVO-konform
    und nebenbei ein Aushängeschild als Mini-Homepage.
  </p>
  <p>
    Das exklusive Angebot: Eigene Link-Baum-Seite für dein soziales Netzwerk. Auf wunsch mit eigener Domain. Inklusive
    50 Link-Änderungen pro Jahr.
    <br>
    <br>
    <strong>Für Privatpersonen</strong>
  </p>
  <ul>
    <li>
      ohne eigner Domain 20 Euro/Jahr*
    </li>
    <li>
      mit eigener Domain 40 Euro/Jahr*
    </li>
  </ul>
  <strong>Für Kleinunternehmer und Influenzer</strong>
  <ul>
    <li>
      ohne eigner Domain 50 Euro/Jahr*
    </li>
    <li>
      mit eigener Domain 70 Euro/Jahr*
    </li>
  </ul>
  <p>
    Ein Beispiel für einen persönlichen Linkbaum: <a href="https://stousn.at"
       target="_blank">stousn.at</a>.
    <br>
    Melde dich einfach unter <a
       href="mailto:office@stefanreip.dev?subject=Mein%20eigener%20Linkbaum">office@stefanreip.dev</a>.
    <br>
    <br>
    * unverbindliches Angebot, Mindestlaufzeit ein Jahr, danach monatlich kündbar. Bezahlung im voraus.
  </p>

</div>