<div class="w3-panel w3-white w3-card w3-display-container"
     [class.w3-theme-d4]="this.isDarkTheme">
  <h3>Ionic/Electron iOS & macOS app scaffolding</h3>

  <p>Scaffolding Script um eine Ionic und Electron Cross-Platform Apllikation für iOS und macOS zu erzeugen.</p>
  <b>Problem</b>
  <p>Das Setup eines einzigen Node.js Projekts mit Ionic und Electron integration für die Plattformen iOS und macOS ist
    kompliziert und benötigt viel Zeit.</p>

  <b>Das Projekt</b>
  <p>Die Erzeugung eines neuen leeren Projekts wird mittels bash-Skript durchgeführt.</p>
  <p>
    <b>Status</b>
  </p>

  <p>Das fertige Projekt wurde als Teil meiner Masterarbeit eingereicht.</p>
  <b>Source Code</b>
  <p><a target="_blank"
       href="http://github.stousn.at/Ionic-Electron-iOS-macOS-app-scaffolding">Auf GitHub liegt der
      Source Code zu diesem Projekt.</a></p>

</div>