<ng-container *ngFor="let bc of breadcrumbs; let last = last">
  <span class="w3-bar-item w3-hide-small">
  <a [routerLink]="bc.link" [ngClass]="{ 'font-weight-bold': last }">
    {{ bc.label }}
  </a>
  </span>
  <span class="w3-bar-item w3-hide-large w3-hide-medium" style="padding: 2px 4px;">
    <a [routerLink]="bc.link" [ngClass]="{ 'font-weight-bold': last }">
      <small>{{ bc.label }}</small>
    </a>
  </span>
  <span *ngIf="!last" class="w3-bar-item w3-hide-medium w3-hide-large" style="padding: 2px 4px;"><small>&gt;</small></span>
  <span *ngIf="!last" class="w3-bar-item w3-hide-small">&gt;</span>
</ng-container>
