<div class="w3-panel w3-white w3-card w3-display-container">
  <div class="w3-cell-row">
    <div class="w3-cell w3-cell-top w3-mobile">
      <h2>Stefan Reip, MSc</h2>
      <p>
        Software Entwickler aus Leoben, Österreich.
      </p>
      <p>
        Ich biete Dienstleistungen für die IT von freiberuflich arbeitenden Personen oder Klein- und
        Ein-Personen-Unternehmen.
        <br>
        Zu diesen Dienstleistungen gehört Service der IT Infrastruktur (zum Beispiel Hardwareinstallation oder
        LAN-Set-up) und
        die Installation und Wartung von Software (zum Beispiel Aufsetzen von Kunden- und Terminverwaltungssoftware)
        oder das Entwickeln selbiger.
        Außerdem verwalte ich Domains, erstelle Webauftritte wie Homepages, Social Media-Seiten oder Ähnliches.
        Bei Interesse <a href="mailto:office@stefanreip.dev?subject=Anfrage%20bzgl.%20eines%20Auftrags">bitte einfach
          hier kontaktieren</a>.
      </p>
    </div>
    <div class="w3-cell w3-margin-left w3-mobile">
      <p class="w3-margin-left"><img src="assets/img/profilepic_kl.jpg" class="w3-margin-left" style="width: 200px" alt="Profilbild von Stefan Reip in schwarz weiß"></p>
    </div>
  </div>
</div>

<div class="w3-panel w3-white w3-card w3-display-container">
  <p><b>Ausbildung und Arbeitserfahrung</b></p>
  <p>
    Von 2008 bis 2013 habe ich den Ausbildungszeweig Kommunikations- und Mediendesign an der HBLA Leoben (nun HLW)
    absolviert.
    Während des Sommers der letzteren drei Jahre war ich als Praktikant in einem Hochsicherheitsrechenzentrum tätig
    und habe Erfahrung im Bereich Netzwerktechnik und Housing gesammelt.
  </p>
  <p>
    Von 2014 bis 2017 studierte ich am Bachelor Studiengang Internettechnik und erlangte meinen Bachelor of Science.
  </p>
  <p>
    Von 2017 bis 2019 erlangte ich durch mein Studium IT & Mobile Security an der FH JOANNEUM in Kapfenberg den Titel
    Master of Science in Engineering.
  </p>
  <p>
    Seit 2017 arbeite ich als Software Developer für die Raiffeisen Software GmbH am Standort Leoben in einem agilen
    Team, das Web-Applikationen für Endkunden entwickelt.
  </p>
  <p>
    Seit 2020 bin ich nebenberuflich selbstständig als Anbieter von Dienstleistungen in der automatischen
    Datenverarbeitung und Informationstechnik tätig.
  </p>
  <p>
    Manche meiner bisherigen Arbeiten finden sich <a href="/#/projects">auf der Projekt-Seite</a>.
  </p>
</div>
